.header{
    height: 80;
    display: flex;
    align-items: center;
    background-color: aqua;
    position: sticky;
    top: 0;
    z-index: 100;
}

.website-name{
    position: relative;
    left: 1cm;
}
.search-bar{
    position: relative;
    left: 2cm;
    top: 0.1cm;
    display: flex;
    align-items: center;
    flex: 1;
}

.sign-up-in{
    position: relative;
    left: auto;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 10px;
}

.or{
    position: relative;
    margin: 0 4px;
}