.header{
    height: 80;
    display: flex;
    align-items: center;
    background-color:rgb(62, 65, 54);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header p{
    margin: 0 40px;
}

.website-name{
    position: relative;
    left: 1cm;
}
.search-bar{
    position: relative;
    left: 20px;
    display: flex;
    align-items: center;
}

.sign-up-in{
    display: flex;
    align-self: flex-start;
    margin: 10px;
}