.header{
    overflow: hidden;
    background-color: #e0eef7;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.search {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
    
.logo-img{
    position: relative;
    left: 80px;
    height: 30px;
    width: 300px;
}

.header-right {
    display: inline;
    text-align: center;
    position: absolute;
    right: 40px
}

.welcome-user{
    text-align: center;
    position: absolute;
    top: 25px;
    right: 400px;
    color: black;
}

.login-button{
    height: 40px;
    width: 80px;
    margin-left:20px;
    background-color: green;
    color: #e0eef7;
    border: 2px solid #4CAF50; 
    border-radius: 8px;
}

.signup-button{
    height: 40px;
    width: 200px;
    margin-left:20px;
    background-color: rgb(41, 28, 193);
    color: #e0eef7;
    border: 2px solid #1f0589; 
    border-radius: 8px;
}

.logout-button{
    height: 40px;
    width: 80px;
    margin-left:20px;
    background-color: green;
    color: #e0eef7;
    border: 2px solid #4CAF50; 
    border-radius: 8px;
}

.add-review-button{
    height: 40px;
    width: 120px;
    margin-left:20px;
    background-color: rgb(30, 43, 155);
    color: #e0eef7;
    border: 2px solid #2323d1; 
    border-radius: 8px;
}