.products{
    display: flex;
    align-items: center;
    margin: 20px 200px;

}

.product{
    background: #ecf2f7 ;
    margin: auto auto; 
    float:left; 
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex: 1;
}
.product-list{
    list-style-type: none;
}